services:
  postgres:
    image: public.ecr.aws/docker/library/postgres:15-alpine
    # platform: linux/arm64/v8  # uncomment on Apple Silicon if needed
    container_name: evi_pg
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 3s
      retries: 10
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: public.ecr.aws/docker/library/redis:7-alpine
    # platform: linux/arm64/v8  # uncomment on Apple Silicon if needed
    container_name: evi_redis
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10

volumes:
  pgdata: